@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
//fonts
$ubuntu-font: 'Ubuntu', sans-serif;

//colors
$blue-primary : #19A9E0;
$white-primary: #F7F7F7;
$gray-text:  #6D6D6D;



