@import './src/assets/variables';

.proPlanPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.upperPartWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 10px;
  justify-content: center;
}

.proPlanTitle {
  width: auto;
  height: auto;
  @include generateText($blue-primary,700,180px);
  text-transform: uppercase;
}

.proPlanLabel {
  align-self: center;
  @include generateText($gray-text,400,16px);
  width: 730px;
}

.bottomPartWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.cardsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonWrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include generateText($gray-text,400,16px);
}


