@import './src/assets/variables';

.headerWrapper {
  display: flex;
  padding-top: 18px;
  background-color: $white-primary;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  color: #fff;

  .logo {
    display: flex;
    margin-left: 183px;
    vertical-align: center;
  }


  .navWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    //a scratch margin to center the nav with the icon because i've started getting mad of it
    .navigation ,
    .navigation a {
      @include generateText(black,400,18px);
      text-decoration: none;
      margin-left: 51px;
      position: relative;
      padding-bottom: 18px;
      vertical-align: -webkit-baseline-middle;
    }

    .navigation a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: -4px;
      content: "";
      display: block;
      height: 4px;
      left: 50%;
      position: absolute;
      background: $blue-primary;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
  }
}

.active {
  border-bottom: 4px solid $blue-primary;
}

.iconsWrapper {
  display: flex;
  margin-left: 500px;
  width: 100px;
  justify-content: space-between;
}