@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

//fonts
$ubuntu-400: 'Ubuntu', sans-serif;



.headerWrapper {
  display: flex;
  font-size: 18px;
  padding-top: 18px;
  background-color: #F7F7F7;;
  flex-direction: row;
  text-align: center;
  font-family: $ubuntu-400;
  color: #fff;

  .logo {
    display: flex;
    margin-left: 183px;
  }


  .navWrapper {
    //a scratch margin to center the nav with the icon because i've started getting mad of it
    margin-top: 10px;
    .navigation,
    .navigation a {
      color: #000000;
      text-decoration: none;
      margin-left: 51px;
      position: relative;
      padding-bottom: 18px;
    }

    .navigation a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: -4px;
      content: "";
      display: block;
      height: 4px;
      left: 50%;
      position: absolute;
      background: #19A9E0;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
  }
}

.active {
  border-bottom: 4px solid #19A9E0;
}