@import "./src/assets/variables";

.headerWrapper {
  display: flex;
  background-color: $white-primary;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  color: #fff;
}

.logoWrapper {
  display: flex;
  width: 450px;
  padding-left: 225px;
  a {
    display: block;
    margin: auto;
  }
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.navigation a {
  @include generateText(black, 400, 18px);
  text-decoration: none;
  padding: 25px;
  vertical-align: -webkit-baseline-middle;
}

.active {
  border-bottom: 4px solid $blue-primary;
}

.navigationRightPart {
  display: flex;
  padding-left: 225px;
}
.iconsWrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100px;
  justify-content: space-between;
  svg {
    display: block;
    margin: auto;
  }
}
.loginButtonWrapper {
  display: flex;
  text-align: center;
  button {
    margin: auto;
  }
}
