@import './src/assets/variables';

.card {
  width: 250px;
  height: 270px;
  background-color: $white-primary;
  margin: 12px;
  border-radius: 10px;

  @include generateText(black,400,20px);
}

.card p {
  @include generateText($gray-text,400,10px);
  padding:0 43px;
}

.logo {
  display: block;
  margin-top: 50px;
  margin-bottom: 30px;
}